<div class='container'>
  <div class='bump'></div>
  <div class="fourcol_3">
    <blockquote>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</blockquote>
  </div>
  <div class="fourcol">
    <div class="count">
      <p>The celebration begins in:</p>
      <h1><%= (Date.new(2013, 4, 13) - Date.today).to_i %> days</h1>
    </div>
  </div>
  <div class='bump'></div>
  <div style="clear:both;">&nbsp;</div>

  <div class="twocol sharon">
    <img src="assets/sharon.jpg" alt="Sharon">
    <h1             class="profile">Her</h1>
    <p>Hey it's Sharon!  Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p> 
    <p style="font-style:italic;color:#aaa;">I kind of Handsve a thing for Him →</p>
  </div>

  <div class="twocol todd">
    <img src="assets/todd.jpg" alt="Todd">
    <h1             class="profile">Him</h1>
    <p>Hey it's Todd!  Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p> 
    <p style="font-style:italic;color:#aaa;">← I kind of have a thing for Her</p>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>


