<div class='container'>
  <div class='bump'></div>
  <div class="fourcol_3">
    <blockquote>We got married and now it's time to celebrate! We can't ask for anything more than to have our family and friends together in one place.  Hope you can make it!</blockquote>
  </div>
  <div class="fourcol">
    <div class="count">
      <p>Celebrating for:</p>
      <h1><%= (Date.new(2013, 4, 13) - Date.today).to_i.abs %> days</h1>
    </div>
  </div>
  <div class='bump'></div>
  <div style="clear:both;">&nbsp;</div>

  <div class="twocol sharon">
    <img src="assets/sharon.jpg" alt="Sharon">
    <h1 class="profile">Mrs</h1>
    <p>Hey it's Sharon! I'm totally in love and I can't wait to spend the rest of my days with Mr. Warstler.</p> 
    <p style="font-style:italic;color:#aaa;">I kind of have a thing for Him →</p>
  </div>

  <div class="twocol todd">
    <img src="assets/todd.jpg" alt="Todd">
    <h1 class="profile">Mr</h1>
    <p>Hey it's Todd! Sharon is one of a kind and I can't wait to celebrate our marriage with all of you!</p> 
    <p style="font-style:italic;color:#aaa;">← I kind of have a thing for Her</p>
  </div>
  <div style="clear:both;">&nbsp;</div>
</div>


