<div class='container'>

  <div class="onecol">
    <!-- <<a href="" class="fade"> </a> -->
    <!-- <p style="width:375px;font-size:14px;"><em></em></p> -->
    <div class='ourstory'>
      <p>
      Sharon and Todd first met during middle school.  Sharon had a crush on Todd so she invited him to go downhill skiing and he joyfully accepted.  During high school Sharon and Todd were both interested in dating but Todd was too late as Sharon started dating someone else.  However, Sharon and Todd would reconnect via email every few years as their lives took them in different directions.  Sharon would send Todd emails about cheesy pickup lines and so on.</p>

      <p>In 2009, Todd was living in Maine and Sharon was back in Sturgis.  They reconnected through Facebook and Todd immediately knew that he had to invite Sharon to Sugarloaf, his favorite ski destination.  She hesitated since she hadn't skied in 20 years but Todd promised he wouldn't let her break any bones.  Sharon was so happy that she made the trip out to Maine because she had a blast skiing, eating lobster and playing with Todd's dog Toby.  This rekindled their feelings and they committed to see one another at least once a month thereafter.</p>

      <p>Despite Todd's repeated attempts to get Sharon to move closer to Maine and him, Sharon kept working in Michigan. After marrying off both her siblings, Sharon and Todd finally decided it was time to tie the knot too.  Having a passion for beaches and traveling, they secretly ran away to a beach in November and got married.  They chose St. John, U.S. Virgin Islands as neither had been there before and it boasted some of the worlds most beautiful beaches. They rented a waterfront villa and had an intimate wedding on the beach in between the raindrops. They say rain on your wedding day is good luck, so please come with your best wishes for Sharon and Todd as they celebrate their new life together!</p>
    </div>
  </div>

</div>
