<div class='container'>

  <div class="onecol">
    <a href="" class="fade">
      <div class='registry'>We're still writing our story. <br />Good things take time.</div>
    </a>
    <p style="width:375px;font-size:14px;"><em></em></p>
  </div>

  <div style="clear:both;">&nbsp;</div> 

</div>
