<div class='container'>

  <div class="twocol">
    <!-- <p>Click the logos below to view our registry.</p> -->
  </div>

  <div style="clear:both;">&nbsp;</div> 

  <div class="onecol">
    <a href="" class="fade">
      <div class='registry'><%= link_to "Bed Bath and Beyond", 'http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-1152966817&', :class => 'registry-link' %></div>
    </a>
    <p style="width:375px;font-size:14px;"><em></em></p>
  </div>

  <div class="onecol">
    <a href="" class="fade">
      <div class='registry'><%= link_to "Macy's", 'http://www1.macys.com/registry/wedding/guest/?registryId=270169', :class => 'registry-link' %></div>
    </a>
    <p style="width:375px;font-size:14px;"><em></em></p>
  </div>

  <div style="clear:both;">&nbsp;</div> 

</div>
