<div class='container'>

  <div class="twocol">
    <!-- <p>Click the logos below to view our registry.</p> -->
  </div>

  <div style="clear:both;">&nbsp;</div> 

  <div class="twocol">
    <a href="" class="fade">
      <div class='registry'>Bed Bath and Beyond</div>
    </a>
    <p style="width:375px;font-size:14px;"><em></em></p>
  </div>

  <div class="twocol">
    <a href="" class="fade">
      <div class='registry'>Macy's</div>
    </a>
    <p style="width:375px;font-size:14px;"><em></em></p>
  </div>

  <div style="clear:both;">&nbsp;</div> 

</div>
