// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 80px;
  font-family: 'Crete Round', serif;
}

h2 {
  font-size: 36px;
  font-family: 'Crete Round', serif;
}

h4 {
  font-size: 18px;
  font-family: 'Crete Round', serif;
}

.photo-header {
  margin-top: -9px;
}

.photo-header img {
    max-width: 100%;
}

.overlay-section {
  background-color: rgba(0, 0, 0, 0.1);
  width: 30%;
  position: absolute;
  margin-left: 492px;
  margin-top: 36px;
  top: 0;
  min-height: 419px;
  padding-top: 139px;

  h2 {
    color: white;
}
.date-header {
  font-size: 20px;
  font-family: 'Crete Round', serif;
  margin-top: 14px;
  color: white;
}
}


.section {
  margin-bottom: 20px;
h3 {
  font-family: 'Crete Round', serif;
  font-size: 27px;
}
}


li.vendor {
  list-style-type: none;
  margin-bottom: 20px;
  font-family: 'Crete Round', serif;
  font-size: 16px;
}

ul {
  margin-left: -35px;
}

li {
  list-style-type: none;
}

ul.accomodations {

li.accomodation {
  width: 447px;
  display: inline-block;
  text-align: top;
 }

}
