// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 80px;
  font-family: 'Crete Round', serif;
}

h3 {
  font-size: 36px;
  font-family: 'Crete Round', serif;
}

.section {
  margin-bottom: 20px;
}

.date-header {
  font-size: 20px;
  font-family: 'Crete Round', serif;
  margin-top: 14px;
}

li.vendor {
  list-style-type: none;
  margin-bottom: 20px;
  font-family: 'Crete Round', serif;
  font-size: 16px;
}

ul {
  margin-left: -35px;
}
